@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header{
    color: #f9faf8;
    font-size: 24px;
    padding: 0px 25px;
    font-weight: bold;
}

.right-header{
    font-size: 18px;
    color: #f9faf8;
    padding: 0px 25px;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}